<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-4 col-sm-offset-4">
      <div class="form-login">
        <h2>Sign up</h2>
        <%- if devise_mapping.omniauthable? %>
          <%- resource_class.omniauth_providers.each do |provider| %>
            <%= link_to omniauth_authorize_path(resource_name, provider), class: "btn btn-danger " do %>
              <i class="fab fa-youtube"></i> Sign up with YouTube
            <% end -%>
          <% end -%>
        <% end -%>
        <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
          <%= f.error_notification %>

          <div class="form-inputs">
            <%= f.input :email, required: true, autofocus: true, placeholder: "elon@tesla.com"  %>
            <%= f.input :password, required: true, hint: ("#{@minimum_password_length} characters minimum" if @minimum_password_length),placeholder: "••••••"  %>
            <%= f.input :password_confirmation, required: true, placeholder: "••••••" %>
          </div>

          <div class="form-actions">
            <%= f.button :submit, "Sign up", class: "btn btn-danger" %>
          </div>
        <% end %>
        <%= render "devise/shared/links" %>
      </div>
    </div>
  </div>
</div>
