<div class="dashboard-left-navbar hidden-xs">
  <div class="dashboard-left-navbar-components">
      <div>
        <span>
        <% class_name = (params[:controller] == "fans" && params[:action] == "index" ? "active" : "") %>
        <%= link_to fans_path, class: class_name do %>
          <i class="fas fa-users"></i>
          All
        <% end -%>
        </span>
      </div>
      <div>
        <span>
        <% class_name = (params[:controller] == "fans" && params[:action] == "top_fans" ? "active" : "") %>
        <%= link_to top_fans_fans_path, class: class_name do %>
          <i class="fas fa-crown"></i>
          Top fans
        <% end -%>
        </span>
      </div>
      <div>
        <span>
        <% class_name = (params[:controller] == "fans" && params[:action] == "new_fans" ? "active" : "") %>
        <%= link_to new_fans_fans_path, class: class_name do %>
          <i class="fas fa-child"></i>
          New fans
        <% end -%>
        </span>
      </div>
      <div>
        <span>
        <% class_name = (params[:controller] == "fans" && params[:action] == "returning_fans" ? "active" : "") %>
        <%= link_to returning_fans_fans_path, class: class_name do %>
          <i class="fas fa-star"></i>
          Returning<br>fans
        <% end -%>
        </span>
      </div>
      <div>
        <span>
        <% class_name = (params[:controller] == "fans" && params[:action] == "inactive_fans" ? "active" : "") %>
        <%= link_to inactive_fans_fans_path, class: class_name do %>
          <i class="fa fa-comment-slash"></i>
          Inactive<br>fans
        <% end -%>
        </span>
      </div>
  </div>
</div>
