<div class="dashboard-left-navbar hidden-xs">
  <div class="dashboard-left-navbar-components">
      <div>
        <span>
        <%= link_to fans_path do %>
          <i class="fas fa-users"></i>
          <br>All
        <% end -%>
        </span>
      </div>
      <div>
        <span>
        <%= link_to fans_path do %>
          <i class="fas fa-crown"></i>
          <br>Top fans
        <% end -%>
        </span>
      </div>
      <div>
        <span>
        <%= link_to fans_path do %>
          <i class="fas fa-child"></i>
          <br>New fans
        <% end -%>
        </span>
      </div>
      <div>
        <span>
        <%= link_to fans_path do %>
          <i class="fa fa-bed"></i>
          <br>Sleeping<br>fans
        <% end -%>
        </span>
      </div>
      <div>
        <span>
        <%= link_to fans_path do %>
          <i class="fas fa-star"></i>
          <br>Second<br> timers
        <% end -%>
        </span>
      </div>
  </div>
</div>
