<div class="navbar-wagon <%= yield(:navbar_class) %>">
  <!-- Logo -->
  <%= link_to root_path, class: "navbar-wagon-brand" do %>
    <%= image_tag "logo.png", height: 50 %>
  <% end %>

  <!-- Right Navigation -->
  <div class="navbar-wagon-right hidden-xs hidden-sm">

    <% if user_signed_in? %>

      <% if params[:controller] == "fans" %>
        <div class="navbar-searchbar">
          <%= form_tag fans_path, method: :get do %>
          <%= text_field_tag :query,
          params[:query],
          class: "form-control",
          placeholder: "Search a fan"%>
          <% end %>
        </div>
      <% else %>
        <!-- Links when logged in -->
        <%= link_to "Dashboard", fans_path, class: "navbar-wagon-item navbar-wagon-link" %>
        <%= link_to "Chrome Extension", "https://chrome.google.com/webstore/category/extensions?hl=fr", class: "navbar-wagon-item navbar-wagon-link", target: "_blank" %>
      <% end %>

      <div class="navbar-wagon-item">
        <div class="dropdown">
          <% if current_user.channel_thumbnail %>
            <%= image_tag current_user.channel_thumbnail, class: "avatar dropdown-toggle", id: "navbar-wagon-menu", "data-toggle" => "dropdown" %>
          <% else %>
            <%= image_tag "https://i.pinimg.com/736x/5f/1e/2f/5f1e2f0f11a9c543e5351a812e2efcd0--third-party-logo-design.jpg", class: "avatar dropdown-toggle", id: "navbar-wagon-menu", "data-toggle" => "dropdown" %>
          <% end %>
          <ul class="dropdown-menu dropdown-menu-right navbar-wagon-dropdown-menu">
            <li>
              <%= link_to edit_user_registration_path do %>
                <i class="fa fa-user"></i> <%= t(".profile", default: "Profile") %>
              <% end %>
            </li>
            <li>
              <%= link_to destroy_user_session_path, method: :delete do %>
                <i class="fas fa-sign-out-alt"></i>  <%= t(".sign_out", default: "Log out") %>
              <% end %>
            </li>
          </ul>
        </div>
      </div>
    <% else %>
      <!-- Login link (when logged out) -->
      <%= link_to t(".sign_in", default: "Login"), new_user_session_path, class: "navbar-wagon-item navbar-wagon-link" %>
    <% end %>
  </div>

  <!-- Dropdown list appearing on mobile only -->
  <div class="navbar-wagon-item hidden-md hidden-lg">
    <div class="navbar-flexbox">
      <div class="navbar-searchbar">
        <%= form_tag fans_path, method: :get do %>
        <%= text_field_tag :query,
        params[:query],
        class: "form-control",
        placeholder: "Search a fan"%>
        <% end %>
      </div>

      <div class="dropdown">
        <i class="fa fa-bars dropdown-toggle" data-toggle="dropdown"></i>
        <ul class="dropdown-menu dropdown-menu-right navbar-wagon-dropdown-menu">
          <% if user_signed_in? %>
            <li><%= link_to "Dashboard", fans_path%></li>
            <li><a href="https://chrome.google.com/webstore/category/extensions?hl=fr", target="_blank">Chrome Extension</a></li>
            <li>
              <%= link_to edit_user_registration_path do %>
                <i class="fa fa-user"></i> <%= t(".profile", default: "Profile") %>
              <% end %>
            </li>
            <li>
              <%= link_to destroy_user_session_path, method: :delete do %>
                <i class="fas fa-sign-out-alt"></i>  <%= t(".sign_out", default: "Log out") %>
              <% end %>
          <% else %>
            <!-- Login link (when logged out) -->
            <%= link_to t(".sign_in", default: "Login"), new_user_session_path, class: "navbar-wagon-item navbar-wagon-link" %>
          <% end %>
            </li>
        </ul>
      </div>
    </div>
  </div>
</div>
