<% fans.each do |fan| %>
  <div class="col-xs-12 col-sm-6 col-md-4">
    <div class="fard">
      <div class="fard-top">
        <div class="fard-top-left">
          <%= image_tag fan.profile_picture_url.gsub(/\/s28-/, '/s300-'), class: "avatar-medium" %>
          <div class="atxt">
            <span><%= link_to fan.youtube_username.capitalize, fan_path(fan)%>
          </div>
        </div>
        <div class="fard-top-right">
        </div>
      </div>
      <div class="fard-bottom">
        <div class="fard-bottom-left">
          <ul>
            <li>
              <i class="fas fa-comments"></i>
              <span><%= fan.comments.count %></span>
            </li>
            <li>
              <span>Active <%= time_ago_in_words(fan.comments.last.published_at) %> ago</span>
            </li>
          </ul>
        </div>
        <div class="fard-bottom-right">
          <%= link_to "fan channel", "https://www.youtube.com/channel/#{fan.channel_id_youtube}", target: "_blank"%>
        </div>
      </div>
    </div>
  </div>
<% end %>
