<!-- NOT USED ANYMORE!! -->

<!-- CARD HTML FOR MERGING -->
<!--   <div class="fan-cards">
    <div class="row">
      <% fans.each do |fan| %>
        <div class="col-xs-12 col-sm-6 col-md-4">
          <%#= link_to fan_path(fan) do%>
            <div class="fan-card">
              <div class="fan-card-infos">
                <div class ="fan-name"><%= fan.youtube_username.capitalize %></div>
                <% comment_first = fan.comments.order(published_at: :asc).first %>
                <div class="fan-since">Fan since <% c_first = comment_first.published_at %><%= time_ago_in_words(c_first) %></div>
              </div>
              <div class="fan-card-avatar">
                <%= image_tag fan.profile_picture_url.gsub(/\/s28-/, '/s300-'), class: "avatar-large" %>
              </div>
              <div class="fan-card-channel">
                <%= link_to "Fan Channel", "https://www.youtube.com/channel/#{fan.channel_id_youtube}", target: "_blank"%>
              </div>
              <div class="fan-card-activity">
                <div class="fan-card-activity-left">Active <%= time_ago_in_words(fan.comments.last.published_at) %> ago</div>
                <div class="fan-card-activity-right"><i class="far fa-comments"></i> <%= fan.comments.count %></div>
              </div>
            </div>
          <%# end %>
        </div>
      <% end %>
    </div>
  </div> -->
  <!-- CARD HTML FOR MERGING -->
