<!-- For mobile view -->
<%= render 'shared/dashboard-left-navbar-on-top' %>
<!-- For mobile view -->

<div class="dashboard-content">
  <!-- DASHBOARD LEFT NAVBAR BEGINS HERE -->
  <%= render 'shared/dashboard-left-navbar' %>
  <!-- DASHBOARD LEFT NAVBAR ENDS HERE -->

  <div class="dashboard-right-content">
    <h1 class="text-center">Hello <%= current_user.first_name.nil? ? current_user.channel_name : current_user.first_name.capitalize  %> !</h1>
    <div class="container">

      <!-- Search bar Mobile -->
      <% if params[:controller] == "fans" %>
        <div class="navbar-searchbar hidden-md hidden-lg hidden-xl">
          <%= form_tag fans_path, method: :get do %>
          <%= text_field_tag :query,
          params[:query],
          class: "form-control",
          placeholder: "Search a fan"%>
          <% end %>
        </div>
      <% end %>

      <% if params[:query] == "" || params[:query].nil? %>
        <div class="row">
          <div class="col-xs-12 col-sm-12 col-md-4">
            <div class="stats-card">
              <%= link_to "", "#", class: "stats-card-link" %>
              <div class="stats-label">
                ALL-TIME
              </div>
              <div class="stats-content">
                <div class="stats-number">
                  <strong><%= @all_time_fans.size %></strong>
                </div>
                <div class="stats-numberlabel">FANS</div>
                <div class="stats-numbersublabel">A fan is someone who commented on your video</div>
              </div>
            </div>
          </div>
          <div class="col-xs-12 col-sm-12 col-md-4">
            <div class="stats-card">
              <%= link_to "", new_fans_fans_path, class: "stats-card-link" %>
              <div class="stats-label">
                LAST MONTH
              </div>
              <div class="stats-content">
                <div class="stats-number">
                  <strong><%= @last_month_new_fans.size %></strong>
                </div>
                <div class="stats-numberlabel">NEW FANS</div>
                <div class="stats-numbersublabel">First comment from a fan during the last month</div>
              </div>
            </div>
          </div>
          <div class="col-xs-12 col-sm-12 col-md-4">
            <div class="stats-card">
              <%= link_to "", new_loyal_fans_fans_path, class: "stats-card-link" %>
              <div class="stats-label">
                LAST MONTH
              </div>
              <div class="stats-content">
                <div class="stats-number">
                  <strong>
                    <%= @last_month_new_loyal_fans.size %>
                  </strong>
                </div>
                <div class="stats-numberlabel">RETURNING FANS</div>
                <div class="stats-numbersublabel">A second / third / fourth comment from a fan during the last month</div>
              </div>
            </div>
          </div>
        </div>
      <% end %>

      <h1 class="text-center">All fans</h1>

      <div class="row">
        <div id="all-fans"> <!-- Used for kaminari infinite scrolling -->
          <%= render "fans/all_fans", fans: @fans %>
        </div>
        <div class="pagination-container">
          <%= render "fans/pagination", fans: @fans %>
        </div>
      </div>

    </div>
  </div>
</div>
