<div class="container">
  <div class="header">
    <%= link_to "Back to my fans", fans_path%>
  </div>
  <div class="content">
    <div class="left-card">
      <%= image_tag  @fan.profile_picture_url.gsub(/\/s28-/, '/s300-'), class: "avatar-large" %>
      <div class="pseudo btn-tab">
        <a href="http://youtube.com/channel/<%= @fan.channel_id_youtube %>" target="_blank"><%= @fan.youtube_username %></a>
      </div>

      <% comments = Comment.where(fan_id: @fan) %>
      <% comment = comments.order(published_at: :desc).first %>
      <% if comment %>
        <p class="last-msg">Last message :</p>
        <p class="last-msg"><% c = comment.published_at %></p>
        <p class="last-msg"><%= c.strftime("%e %b %Y %H:%M") %></p>
      <% end %>
      <%= simple_form_for @memo do |f|%>
        <%= f.input :content%>
        <%= f.submit "Save", class: "memo-btn"%>
      <% end %>
    </div>


    <div class="all-videos">

      <!-- CODE TO BE ADDED SOMEWHERE AFTER MERGING -->
      <h2>Pinned Comments</h2>
      <div id="pinned-comments">
        <% favorite_comments = comments.to_a.select{ |comment| comment.is_pinned == true }.sort_by{ |comment| -(comment.published_at.to_i) } %>
        <% unless favorite_comments.empty? %>
            <% favorite_comments.each do |comment|%>
              <% if comment.is_pinned %>
                <%= render "comments/show", comment: comment %>
              <% end %>
            <%end %>
        <% end %>
      </div>
      <h2>All Comments</h2>
      <!-- CODE TO BE ADDED SOMEWHERE AFTER MERGING -->
      <% @comments_by_video.each do |video_id, comments|%>
        <div class="video-comment-card">
          <% video = Video.find(video_id) %>
          <div class="video-card">
            <%= link_to "http://youtube.com/watch?v=" + video.video_id_youtube, target: '_blank' do %>
              <%= image_tag  video.thumbnail, class: "avatar-square" %>
            <% end %>
            <div class='btn-tab'>
              <%= link_to video.title.first(20), "http://youtube.com/watch?v=" + video.video_id_youtube, target: '_blank' %>
            </div>
          </div>
          <div class="comments">
            <% comments.each do |comment|%>
              <!-- CODE TO BE ADDED SOMEWHERE AFTER MERGING -->
              <div class="comment-card">
                <!-- CODE TO BE ADDED SOMEWHERE AFTER MERGING -->
                <p class="date">
                  <%= comment.published_at.strftime("%e %b %Y %H:%M") %>
                </p>
                <div class="txt">
                  <!-- CODE TO BE ADDED SOMEWHERE AFTER MERGING -->
                  <% if comment.is_pinned && comment.fan_id == @fan.id %>
                    <%= link_to "<i class='fas fa-star' data-comment-id='#{comment.id}'></i>".html_safe, comment_path(comment.id), method: :patch, remote: true %>
                  <% elsif !comment.is_pinned && comment.fan_id == @fan.id %>
                    <%= link_to "<i class='far fa-star' data-comment-id='#{comment.id}'></i>".html_safe, comment_path(comment.id), method: :patch, remote: true %>
                  <% end %>
                  <!-- CODE TO BE ADDED SOMEWHERE AFTER MERGING -->
                  <%= comment.content.html_safe %>
                </div>
              </div>
            <%end %>
          </div>
        </div>
      <%end %>
    </div>
  </div>
</div>
