<div class="container">
  <div class="header">
    <%= link_to "Back to my fans", fans_path%>
  </div>
  <div class="content">
    <div class="left-card">
      <%= image_tag  @fan.profile_picture_url.gsub(/\/s28-/, '/s300-'), class: "avatar-large" %>
      <div class="pseudo btn-tab">
        <a href="http://youtube.com/channel/<%= @fan.channel_id_youtube %>" target="_blank"><%= @fan.youtube_username %></a>
      </div>

      <% comments = Comment.where(fan_id: @fan) %>
      <% comment = comments.last %>
      <% if comment %>
        <p class="last-msg">Last message :</p>
        <p class="last-msg"><% c = comment.published_at %></p>
        <p class="last-msg"><%= c.strftime("%e %b %Y %H:%M") %></p>
      <% end %>
      <%= simple_form_for @memo do |f|%>
        <%= f.input :content%>
        <%= f.submit "Save", class: "memo-btn"%>
      <% end %>
    </div>
    <div class="all-videos">
      <% @comments_by_video.each do |video_id, comments|%>
        <div class="video-comment-card">
          <% video = Video.find(video_id) %>
          <div class="video-card">
            <%= link_to "http://youtube.com/watch?v=" + video.video_id_youtube, target: '_blank' do %>
              <%= image_tag  video.thumbnail, class: "avatar-square" %>
            <% end %>
            <div class='btn-tab'>
              <%= link_to video.title.first(20), "http://youtube.com/watch?v=" + video.video_id_youtube, target: '_blank' %>
            </div>
          </div>
          <div class="comments">
            <% comments.each do |comment|%>
              <div class="comment-card">
                <p class="date">
                  <%= comment.published_at %>
                </p>
                <div class="txt">
                  <%= comment.content.html_safe %>
                </div>
              </div>
            <%end %>
          </div>
        </div>
      <%end %>
    </div>
  </div>
</div>
