<div class="container">
  <div class="header">
    <a href="#" class="btn-tab">Back to my fans</a>
  </div>
  <div class="content">
    <div class="left-card">
      <%= image_tag  @fan.profile_picture_url, class: "avatar-large" %>
      <p class="pseudo"><%= @fan.youtube_username %></p>
      <% comments = Comment.where(fan_id: @fan) %>
      <% comment = comments.last %>
      <p class="last-msg">Last message on<% c = comment.published_at %>
        <%= c.strftime("%e %b %Y %H:%M:%S%p") %>
      </p>
      <%= simple_form_for @memo do |f|%>
      <%= f.input :content%>
      <%= f.submit %>
      <% end %>
    </div>
    <div class="scrollbar">
          <% @comments.each do |comment|%>
            <% video = Video.find(comment.video_id) %>
            <div class="comment-card">
              <div class="video-card">
                <%= image_tag  video.thumbnail, class: "avatar-square" %>
                <p>
                  <%= video.title.first(20) %>
                </p>
              </div>
              <div class="right">
                <p class="date">
                  <%= comment.published_at %>
                </p>
                <div class="txt">
                  <%= comment.content %>
                </div>
              </div>
            </div>
          <%end %>
        </div>
      </div>
    </div>
