<div class="container">
  <div class="header">
    <%= link_to "Back to my fans", fans_path%>
  </div>
  <div class="content">
    <div class="left-card">
      <%= image_tag  @fan.profile_picture_url.gsub(/\/s28-/, '/s300-'), class: "avatar-large" %>
      <div class="pseudo btn-tab">
        <a href="http://youtube.com/channel/<%= @fan.channel_id_youtube %>" target="_blank"><%= @fan.youtube_username %></a>
      </div>

      <% comments = Comment.where(fan_id: @fan) %>
      <% comment = comments.order(published_at: :desc).first %>
      <% if comment %>
        <p class="last-msg">Last message :</p>
        <p class="last-msg"><% c = comment.published_at %></p>
        <p class="last-msg"><%= c.strftime("%e %b %Y %H:%M") %></p>
      <% end %>
      <%= simple_form_for @memo do |f|%>
        <%= f.input :content%>
        <%= f.submit "Save", class: "memo-btn"%>
      <% end %>
    </div>


    <div class="all-videos">
      <h2>Pinned Comments</h2>
      <div id="pinned-comments"> <!-- USED IN AJAXIFICATION -->
        <% favorite_comments = comments.to_a.select{ |comment| comment.is_pinned == true }.sort_by{ |comment| -(comment.published_at.to_i) } %>
        <% unless favorite_comments.empty? %>
            <% favorite_comments.each do |comment|%>
              <% if comment.is_pinned %>
                <%= render "comments/pinned_comments", comment: comment, fan: @fan %>
              <% end %>
            <%end %>
        <% end %>
      </div>
      <h2>All Comments</h2>
      <% @comments_by_video.each do |video_id, comments|%>
        <% video = Video.find(video_id) %>
        <!-- ---------------------------------------------------------------------------- -->
        <!-- ----------------This is the video thumbnail left of the comments------------ -->
        <!-- ---------------------------------------------------------------------------- -->

        <!-- For mobile -->
        <div class="video-card-mobile hidden-md hidden-lg hidden-xl">
          <%= link_to "http://youtube.com/watch?v=" + video.video_id_youtube, target: '_blank' do %>
            <%= image_tag  video.thumbnail.gsub(/default/, 'mqdefault') %>
          <% end %>
          <div class='btn-tab'>
            <%= link_to video.title, "http://youtube.com/watch?v=" + video.video_id_youtube, target: '_blank' %>
          </div>
        </div>

        <div class="video-comment-card">

          <!-- For large screens -->
          <div class="video-card hidden-xs hidden-sm">
            <%= link_to "http://youtube.com/watch?v=" + video.video_id_youtube, target: '_blank' do %>
              <%= image_tag  video.thumbnail%>
            <% end %>
            <div class='btn-tab truncate'>
              <%= link_to video.title, "http://youtube.com/watch?v=" + video.video_id_youtube, target: '_blank' %>
            </div>
          </div>



        <!-- --------------------------------------------------------- -->
        <!-- ---------------- This is the comments section------------ -->
        <!-- --------------------------------------------------------- -->
          <%= render "comments/show", comments: comments, video: video, fan: @fan %>
        </div>
      <%end %>
    </div>
  </div>
</div>
